<div class="container">
  <div class="twelve columns">
    <header id="float">
      <div class="row">
        <div class="four columns">
          <h1>{{name}} - {{projectName}}</h1>
        </div>
        <div class="four columns header">
          <h1>PAINT PROGRESS</h1>
        </div>
        <div class="four columns headerButton">
          <form action="/projects/{{user_id}}/entries/{{project_id}}/new" method="get">
            <input type="submit" value="New Entry"/>
          </form>
        </div>
        </div>
    </header>
  </div>
</div>

<div class="container" id="projBody">
  <div class="twelve columns">
    <h2>Latest:</h2>
    {{#each entries}}
    <h1>{{entryTitle}} {{date}}</h1>
    <img src="{{image}}" style="width:800px;"></img>
    {{/each}}
  </div>
</div>
