<div class="container">
  <div class="twelve columns">
    <header id="float">
      <div class="row">
        <div class="four columns">
          <h1>{{name}}</h1>
        </div>
        <div class="four columns">
          <h1><a class="header" href="/login">PAINT PROGRESS</a></h1>
        </div>
        <div class="four columns headerButton">
          <form action="/projects/{{id}}/new" method="get">
            <input type="submit" value="New Project"/>
          </form>
        </div>
        </div>
    </header>
  </div>
</div>

<div class="container projects">
  <div class="twelve columns">
  <div class="container">
    <div class="row">
      {{#each projects}}
      <div class="four columns projectButtons">
        <a href="/projects/{{this.user_id}}/entries/{{this.id}}"<h1>{{projectTitle}} {{dateCreated}}</h1></a>
      </div>
      {{/each}}
    </div>
  </div>
  </div>
</div>
