<div class="container">
  <div class="twelve columns">
    <header id="float">
      <div class="row">
        <div class="four columns">
          <h2>{{name}}</h2>
        </div>
        <div class="four columns">
          <a href="/login">PAINT PROGRESS</ha>
        </div>
        <div class="four columns">
          <form action="/projects/{{id}}/new" method="get">
            <input type="submit" value="New Project"/>
          </form>
        </div>
        </div>
    </header>
  </div>
</div>

<div class="container" id="projBody">
  <div class="twelve columns">
    {{#each projects}}
    <a href="/projects/{{id}}/entries/{{this.id}}"<h1>{{projectTitle}} {{dateCreated}}</h1></a>

    {{/each}}
  </div>
</div>
